.navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 {
    background-color: #490a89;
}

.b-kmhl4vrndv {
    background-color: #332f37;
    width: 800px; /* Defina a largura desejada */
    height: 950px; /* Defina a altura desejada */
}

.container-fluid {
    background-color: #332f37;
    
}

.nav-item {
    color: white;
}

